body {
    background-image: url('https://img.freepik.com/free-vector/red-white-gingham-pattern_1048-8291.jpg?t=st=1710336044~exp=1710339644~hmac=282c93b520134a37cbd46e162bbe416685c6b7ad1c81e18db7da0e11a7e0eea5&w=740');
    background-size: cover;
    background-repeat: no-repeat;
}