footer{
    background-color: black;
    height: 36vh;
    width: 100%;
    direction: ltr;
}
.icon{
    height: 75px;
    width: 75px;
    margin-right: 25px;
    margin-left: 25px;
}
.footerkituv{
    color: white;
    font-size: large;
}
#footerText{
    color: white;
    display: flex;
    font-family: Candara;
    margin-top: 15px;
    margin-left: 40%;
    margin-right: 40%;
    font-size: large;
    }
#maavar{
    color: white;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    font-size: large;
}
